@{
    ViewBag.Title = "News & Events";
    ViewBag.NewsNav = "Current";
}
@section Head
{
    <link href="~/Content/src/css/newsList.css" rel="stylesheet" />
}
@model SoPhoto.Models.NewsIndex

<div id="contentArea">
    <div id="contentLeftArea">
        <div id="newsTitleListArea">
            @{
                if (Model != null)
                {
                    foreach (var news in Model.Newses)
                    {
                        <a href="/news/detail/@news.Id" class="newsTitle">@news.Title</a>

                    }
                }
            }
        </div>
        <div id="pageInfoArea">
            <a id="gotoFirstPage" href="/news/index">First page</a>
            <a id="gotoPrevPage" href="@ViewData["perPage"]">&lt;Previous</a>
            <input id="currentPageInput" value="@ViewData["pageIndex"]" />
            <span id="totalPage">/ @ViewData["pageCount"]</span>
            <a id="gotoNextPage" href="@ViewData["nextPage"]">Next&gt;</a>
            <a id="gotoLastPage" href="/news/index?pageIndex=@ViewData["pageCount"]">Last page</a>
        </div>
    </div>
    <div id="contentRightArea">
        <div id="rightSideAdArea">
            @{
    if (Model.Ads != null)
    {
        foreach (var ad in Model.Ads)
        {
            <a class="adWrapper" href="@ad.LinkAddress" target="_blank"><img class="adImage" src="@ad.Address"></a>
        }
    }
}
        </div>
    </div>
</div>
