@{
    ViewBag.Title = "Cooperative Photographer";
}
@model SoPhoto.Models.PartnerData
@section Head{
    <link href="~/Content/src/css/partnerData.css" rel="stylesheet" />
}
<div id="contentArea">
    <div id="partnerInfo">welcome @Model.Partner.UserName@. there are @(Model.Sales==null?0:Model.Sales.Count()) sales about you. if you need to change your password, a id="changePasswordLink" href="/Partner/ChangePassword">click here</a>.</div>
    
    
    
    

    <div id="partnerImageSaleTitleArea">
        <div id="imageSaleTimeTitle">time</div>
        <div id="imageSaleCodeTitle">picture number</div>
        <div id="imageSaleIncomeTitle">your profit</div>
        <div id="imageSaleLinkTitle">link</div>
    </div>
    <div id="partnerImageSaleInfo">
        @{
            if (Model.Sales != null)
            {
                foreach (var partnerSale in Model.Sales)
                {
                    <div class="imageSaleItem">
                        <div class="imageSaleTime">@partnerSale.SaleTime.ToString("yyyy-MM-dd")</div>
                        <div class="imageSaleCode">@partnerSale.PicCode</div>
                        <div class="imageSaleIncome">@partnerSale.Price</div>
                        <a class="imageSaleLink" href="/Pics/PicCode?code=@partnerSale.PicCode" target="_blank">...</a>
                    </div>
                }
            }
        }

    </div>
</div>

