@{
    ViewBag.Title = "Picture detail";
    Layout = null; 
}
@model SoPhoto.Entity.SP_Pics
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>soPhoto - Picture detail</title>
    <link rel="stylesheet" type="text/css" href="/Content/src/css/imageDetail.css">
</head>

<body>

    <div id="contentArea">
        <div id="contentLeftArea">
            <div id="imageArea">
                <div id="imageWrapper" style="background-image:url('@Html.Raw(Model.Address)');"></div>
            </div>
            <div id="similarImageArea">
                <div class="titleArea">
                    <div class="titleText">similar pictures</div>
                </div>
                <div class="contentArea">
                    @{
    IEnumerable<SoPhoto.Entity.SP_Pics> related = ViewBag.Related as IEnumerable<SoPhoto.Entity.SP_Pics>;
    if (related != null)
    {
        foreach (var spPicse in related)
        {
            if (spPicse.Id != Model.Id)
            {
                <a class="imageItem" href="/pics/detail/@spPicse.Id" target="_blank">
                    <div class="imageWrapper" style="background-image:url(@spPicse.Cover);"></div>
                </a>
            }

        }
    }
}
                    
                    
                </div>
            </div>
        </div>
        <div id="contentRightArea">
            <div id="imageInfoArea">
                <div class="titleArea">
                    <div class="titleText">picture information</div>
                </div>
                <div class="contentArea">
                    <div class="imageInfoItem">
                        <div class="imageInfoItemTitle">Title:</div>
                        <div class="ImageInfoItemContent">
                            @Model.Title
                        </div>
                    </div>
                    <div class="imageInfoItem">
                        <div class="imageInfoItemTitle">Summary:</div>
                        <div class="ImageInfoItemContent">
                            @Model.Summary
                        </div>
                    </div>
                    <div id="imageDetailInfoArea">
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Photographer:</div>
                            <div class="ImageInfoItemContent">
                                @Model.Author
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Time:</div>
                            <div class="ImageInfoItemContent">
                               @Model.CreateDate.ToString("yyyy-MM-dd")
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Pictures Number:</div>
                            <div class="ImageInfoItemContent">
                                @Model.PicCode
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Rights:</div>
                            <div class="ImageInfoItemContent">
                                @Model.Affirming
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">File Size:</div>
                            <div class="ImageInfoItemContent">
                                @Model.FileSize
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Picture Resolution</div>
                            <div class="ImageInfoItemContent">
                                @Model.PicSize
                            </div>
                        </div>
                        <div class="imageInfoItem">
                            <div class="imageInfoItemTitle">Type:</div>
                            <div class="ImageInfoItemContent">
                                @(Model.BaseCategory==1?"创意类":"编辑类")
                            </div>
                        </div>
                    </div>
                    <div class="imageInfoItem">
                        <div class="imageInfoItemTitle">Keywords:</div>
                        <div class="ImageInfoItemContent">
                            @{
                                if (Model.KeyWords!=null)
                                {
                                    string[] keyArray = Model.KeyWords.Split(';');
                                    foreach (var s in keyArray)
                                    {
                                        <a class="imageTag" href="/pics/search?keyword=@s">@s</a>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div id="imageUseAndBuy">
                <div class="titleArea">
                    <div class="titleText">Usage & Purchasing</div>
                </div>
                <div class="contentArea">
                    @Model.UseAndBuy
                </div>
            </div>
        </div>
    </div>

</body>
</html>
