<!doctype html>
<html>
<head>
    <script type="text/javascript">
        if (!document.getSelection) {
            window.location = "/oldbrowser.html";
        }
    </script>

    <meta charset="utf-8">
    <title>SoPhoto - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/content/src/css/pub.css">
    @RenderSection("Head", required: false)
</head>
    <body>
        @RenderSection("Search", required: false)
        <div id="headAreaWrapper">
            <div id="headArea">
                <img id="headLogo" src="/content/src/media/logo.png" />
                <div id="menuArea">
                    <a class="menuItem" href="/home/index" @ViewBag.HomeNav>Home</a>
                    <a class="menuItem" href="/pics/Search" @ViewBag.PicsNav>Pictures</a>
                    <a class="menuItem" href="/Topic/Index" @ViewBag.TopicNav>Topics</a>
                    <a class="menuItem" href="/News/Index" @ViewBag.NewsNav>News & Events</a>
                </div>
            </div>
        </div>
        @RenderBody()
        @RenderSection("scripts", required: false)


        <div id="footAreaWrapper">
            <div id="footArea">
                <span id="copyrightsBrief">
                    all rights reserved by sophoto.com.cn<br />京ICP备11041240号-2 京公网安备11010802011493号 
                </span>
                <a id="partnerLink" href="/Partner">Cooperative Photographer Entrance &gt;</a>
            </div>
        </div>
    </body>
</html>
